{% extends '::base.html.twig' %}
{% block body %}
<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Conf
        </h1>
    </div>
</div>
<!-- /.row -->
<table>
      <tbody>
        <tr>
          <th>ID</th>
          <th>Param</th>
          <th>Configuracion</th>
        </tr>
        <p>

        </p>
        {% for config in conf %}
          <tr>
            <td>{{ config.id }}</td>
            <td>{{ config.param }}</td>
            <td>{{ config.configuracion }}</td>
          </tr>
        {% endfor %}

      </tbody>
    </table>
{% endblock %}
