table{
  padding-left: 10px;
  border-collapse: collapse;
  border: 2px solid black;
  color: black;
  width: 60%;
  margin: auto;

}

th{
  border: 2px solid black;
  text-align: center;
}

td{
  border: 1px solid black;
  text-align: left;
}

.formulario{
    width: 40%;
    margin: auto;
}

h1{
  text-align: center;
}
