table{
  padding-left: 10px;
  border-collapse: collapse;
  border: 2px solid black;
  background-color: #7b89af;
  color: black;
}

th{
  border: 2px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

td{
  border: 1px solid black;
  padding-left: 10px;
  padding-right: 10px;
}

.titulo{
  border: none;
}

.formulario{
    width: 40%;
    margin: auto;
}

*{
  text-align: center;
}
